.cart-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 2em;
  padding: 8em;
}

.personal-info {
  border: 1px solid crimson;
  height: 300px;
}

.order-info {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.your-order {
  /*border: 1px solid cadetblue;*/
  margin: 30px;
  font-size: 20px;
}

.your-order-text {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order-details {
  font-size: 18px;
}

.order-details-1 {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order-details-1-thumbnail {
  width: 80px;
}

.order-details-overall {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.order-details-1-name,
.order-details-1-description,
.order-details-1-price {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}

/*.order-details-1-name {*/
/*  font-weight: 700;*/
/*}*/

.order-details-1-description {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
}

/*.order-details-1-price {*/
/*  font-weight: 700;*/
/*}*/

.order-shipping-discount {
  margin-top: 30px;
}

.order-shipping,
.order-discount {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 16px;
}

.order-shipping-amount,
.order-discount-amount {
  font-weight: 700;
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  background-color: #f5f5f5;
}

.total-price {
  font-weight: 700;
}
