<div class="cart-container">
  <div class="personal-info">
    <div class="personal-info-input">
      <input type="text" placeholder="First name" class="first-name input-container" required="">
      <input type="text" placeholder="Last name" class="last-name input-container" required="">
      <input type="email" placeholder="E-mail" class="email input-container" required="">
      <input type="tel" placeholder="Phone number" class="phone-number input-container">
      <input type="text" placeholder="Shipping address" class="shipping-address input-container" required="">
    </div>
    <button class="purchase-button" tabindex="0">
      <span>Purchase</span>
    </button>
  </div>
  <div class="order-info">
    <div class="your-order">
      <div class="your-order-text">Your Order</div>
      <div class="order-details">
        <div class="order-details-1">
          <img class="order-details-1-thumbnail" src="https://images.unsplash.com/photo-1583394838336-acd977736f90?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
          <div class="order-details-overall">
            <div class="order-details-1-name">Headphones</div>
            <div class="order-details-1-description">Listen to stuff</div>
            <div class="order-details-1-price">$249.99</div>
          </div>
        </div>
        <div class="order-details-1">
          <img class="order-details-1-thumbnail" src="https://images.unsplash.com/photo-1583394838336-acd977736f90?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" />
          <div class="order-details-overall">
            <div class="order-details-1-name">Headphones</div>
            <div class="order-details-1-description">Listen to stuff</div>
            <div class="order-details-1-price">$249.99</div>
          </div>
        </div>
      </div>
      <div class="order-shipping-discount">
        <div class="order-shipping">
          <div class="order-shipping-text">Shipping</div>
          <div class="order-shipping-amount">$20</div>
        </div>
        <div class="order-discount">
          <div class="order-discount-text">Discount</div>
          <div class="order-discount-amount">-$15</div>
        </div>
      </div>
    </div>
    <div class="total-container">
      <div class="total-text">Total</div>
      <div class="total-price">$145</div>
    </div>
  </div>
</div>
