<div class="product-item-detail-container">
  <img src="{{ productItem.url }}" style="width: 300px" />
  <div class="product-item-detail">
    <div class="product-item-detail-name">{{ productItem.name }}</div>
    <div class="product-item-detail-description">{{ productItem.description }}</div>
    <div class="product-item-detail-price-and-add-to-cart">
      <div class="product-item-detail-price-group">
        <div class="product-item-detail-price">${{ productItem.price }}</div>
        <div class="product-item-X">X</div>
        <div class="select-dropdown">
          <select (change)="quantityChange($event)">
            <option *ngFor="let quantity of inventory" [value]="quantity" >{{ quantity }}</option>
          </select>
        </div>
      </div>
      <button (click)="addToCart()" class="product-item-detail-add-to-cart" tabindex="0">
        <span>Add to Cart</span>
      </button>
    </div>
  </div>
  <br />
</div>
