<div class="product-item-detail-container">
  <img src="{{ productItem.url }}" style="width: 300px" />
  <div class="product-item-detail">
    <div class="product-item-detail-name">{{ productItem.name }}</div>
    <div class="product-item-detail-description">{{ productItem.description }}</div>
    <div class="product-item-detail-quantity">Quantity: {{ productItem.quantity }}</div>
    <div class="product-item-detail-price">Price: {{ productItem.price }}</div>
    <button class="product-item-detail-add-to-cart" tabindex="0">
      <span>Add to Cart</span>
    </button>
  </div>
  <br />
</div>
